<?xml version="1.0"?>
<routes>
	<entry id="welcome">
		<uri>/</uri>
		<res>Main:Index:index</res>
	</entry>
	<entry id="login">
		<uri>/login</uri>
		<res>Main:Index:login</res>
	</entry>
	<entry id="logout">
		<uri>/logout</uri>
		<res>Main:Index:logout</res>
	</entry>
	<entry id="users_list">
		<uri>/users/list</uri>
		<res>Main:User:index</res>
	</entry>
	<entry id="user_add">
		<uri>/users/add</uri>
		<res>Main:User:add</res>
	</entry>
	<entry id="user_edit">
		<uri>/users/edit</uri>
		<res>Main:User:edit</res>
	</entry>
	<entry id="user_editUpdate">
		<uri>/users/editUpdate</uri>
		<res>Main:User:editUpdate</res>
	</entry>
	<entry id="user_delete">
		<uri>/users/delete</uri>
		<res>Main:User:delete</res>
	</entry>
	<entry id="schedule_home">
		<uri>/schedule</uri>
		<res>Main:Schedule:index</res>
	</entry>
	<entry id="schedule_list_for_employee">
		<uri>/schedule/listForEmployee</uri>
		<res>Main:Schedule:listForEmployee</res>
	</entry>
	<entry id="schedule_add">
		<uri>/schedule/add</uri>
		<res>Main:Schedule:add</res>
	</entry>
	<entry id="schedule_delete">
		<uri>/schedule/delete</uri>
		<res>Main:Schedule:delete</res>
	</entry>
	<entry id="reports_employee_all">
		<uri>/reports/all</uri>
		<res>Main:Reports:all</res>
	</entry>
	<entry id="reports_employee_one">
		<uri>/reports/one</uri>
		<res>Main:Reports:one</res>
	</entry>
	<entry id="reports_employee_list">
		<uri>/reports/list</uri>
		<res>Main:Reports:listForEmployee</res>
	</entry>
	<entry id="turn_add">
		<uri>/turn/add</uri>
		<res>Main:Turn:add</res>
	</entry>
	<entry id="turn_delete">
		<uri>/turn/delete</uri>
		<res>Main:Turn:delete</res>
	</entry>
	<entry id="employee_schedule_weekly_list">
		<uri>/employee/weekly/list</uri>
		<res>Main:Employee:weeklyList</res>
	</entry>
	<entry id="employee_schedule_weekly">
		<uri>/employee/weekly</uri>
		<res>Main:Employee:index</res>
	</entry>
	<entry id="employee_schedule_monthly">
		<uri>/employee/monthly</uri>
		<res>Main:Employee:monthly</res>
	</entry>
</routes>
